html
    head
        meta(charset='utf-8')
        Title A propos
        include links.jade
    body
        nav.navbar.navbar-default.navbar-fixed-top
            nav.navbar.navbar-light(style='background-color: #e3f2fd;')
                .container
                     .header
                        .row

                    ss Le Centre hospitalier Laval est un établissement qui fait partie d'un GIE(Groupement d'interet econmique)
                    P
                    tt L'un des premiers buts de ce centre est de venir en aide aux patients dont les revenus ne leur permettent pas de
                    st de se prendre entièrement en charge.


